.seccao-filtro {
  margin: auto;
}

p {
  text-align: center;
}

ul {
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  list-style-type: none;
}

.filtro-btn {
  margin: 8px;
  padding: 8px 12px;
  border: none;
}

.btn-ativo {
  background-color: var(--color-secundaria);
}