.card-filme {
  max-width: 100%;
  padding: 0;
}

.capa img {
  width: 100%;
  height: 393px;
  object-fit: cover;
}

.capa img:hover {
  opacity: 50%;
}

.info-filme h2 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.info-filme > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-favorito {
  background: none;
  border: none;
  color: gold;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn-assistiu {
  background: none;
  font-size: 1.2rem;
  color: white;
}

.btn-assistiu .icone-assistiu {
  color: var(--color-secundaria);
}

.btn-assistiu .icone-nao-assistiu {
  color: #F44336;
}