<section class="lista-filmes container">
  <h1 class="titulo-secao">Minha lista de filmes</h1>
  <nav>
    <app-nav-filtros
      (ordenarRecentes)="agruparRecentes()"
      (ordenarGenero)="mapearPorGenero()"
      (ordenarAno)="mapearPorAno()"
      (ordenarAlfabetico)="mapearAlfabetico()"
      (ordenarFavoritos)="mapearFavoritos()"
      (ordenarAssistidos)="mapearAssistidos()"
    ></app-nav-filtros>
  </nav>

@if (modoDeExibicao === "recentesAtivo") {
  <h2 class="titulo-categoria container">Recentes</h2>
  <div class="grid-filmes">
      @for (filme of listarFilmes; track filme.id) {
        <app-card-filme [filme]="filme"></app-card-filme>
      }
    </div>
}

@if (modoDeExibicao === "generoAtivo" || modoDeExibicao === "anoAtivo" || modoDeExibicao === "assistidosAtivo") {
   @for (grupo of filmesAgrupados; track grupo.tituloCategoria) {
    <h2 class="titulo-categoria">{{ grupo.tituloCategoria }}</h2>
    @if (grupo.filmes.length != 0) {
      <div class="grid-filmes">
        @for (filme of grupo.filmes; track filme.id) {
          <app-card-filme [filme]="filme"></app-card-filme>
        }
      </div>
    } @else {
      <p>Você não assistiu nenhum filme</p>
    }
   }
}

@if (modoDeExibicao === "alfabeticoAtivo") {
  <h2 class="titulo-categoria">Ordem alfabética:
    <button (click)="alternarOrdem()">
      {{ ordemAtual === 'asc' ? 'A - Z' : 'Z - A'}}
    </button>
    <button class="botao-icone" (click)="alternarOrdem()">
      <span>&#9650;</span>
      <span>&#9660;</span>
    </button>
  </h2>
  <div class="grid-filmes">
    @for (filme of listarFilmes; track filme.id) {
      <app-card-filme [filme]="filme"></app-card-filme>
    }
  </div>
}

@if (modoDeExibicao === "favoritosAtivo") {
  @if (listarFilmes.length === 0) {
    <h2 class="titulo-categoria sem-filmes">Você ainda não possui filmes nessa categoria</h2> 
  } @else {
    <h2 class="titulo-categoria">Favoritos</h2>
  }
  <div class="grid-filmes">
    @for (filme of listarFilmes; track filme.id) {
      <app-card-filme [filme]="filme"></app-card-filme>
    }
  </div>
}

</section>